html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* main이 빈 공간을 채워 footer를 아래로 밀어내도록 설정 */
main {
    flex-grow: 1;
}

/* 푸터 스타일 */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}